<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.provider.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="com.api.pojo.Dept">
    <id column="deptno" jdbcType="BIGINT" property="deptno" />
    <result column="dname" jdbcType="VARCHAR" property="dname" />
    <result column="db_source" jdbcType="VARCHAR" property="dbSource" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dept
    where deptno = #{deptno,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.api.pojo.Dept">
    insert into dept (deptno, dname, db_source
      )
    values (#{deptno,jdbcType=BIGINT}, #{dname,jdbcType=VARCHAR}, #{dbSource,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.api.pojo.Dept">
    update dept
    set dname = #{dname,jdbcType=VARCHAR},
      db_source = #{dbSource,jdbcType=VARCHAR}
    where deptno = #{deptno,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select deptno, dname, db_source
    from dept
    where deptno = #{deptno,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select deptno, dname, db_source
    from dept
  </select>
</mapper>